@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");

body {
  line-height: 1;
  font-family: "Source sans", sans-serif;
  min-height: 100vh;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}

body h1 {
  font-size: 2rem;
  font-weight: 700;
}

h1,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centre {
  max-width: 72rem;
  margin: auto;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fa-youtube {
  font-size: 5rem;
  color: #e10600;
  margin-bottom: 0.5em;
}

label {
  color: #0c0c0c;
  font-weight: 700;
}

input {
  width: 100%;
  padding: 0.75em 1em;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: #0c0c0c;
  background-color: #fff;
  appearance: none;
  margin-top: 1em;
}

button {
  flex-shrink: 0;
  color: #fff;
  background: #641f5e;
  margin-top: 2em;
  padding: 0.5em 2em;
  font-weight: 700;
  cursor: pointer;
}

footer {
  margin-top: auto;
}
