<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch youtube videos</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="../static/assets/css/main.css" />
  </head>
  <body>
    <h1>Watch a YouTube Video</h1>
    <div class="centre">
      <div><i class="fa-brands fa-youtube"></i></div>
      <form action="/watch" method="post">
        <label for="video">Enter video name:</label>
        <input
          type="text"
          id="video"
          name="video"
          placeholder="type in a video" />
        <button type="submit">Watch</button>
      </form>
    </div>
    <footer>
      <p>&copy; 2024. Build by Teri</p>
    </footer>
  </body>
</html>
